
body{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Aleo", serif;
}
@media screen and (max-width: 480px){
  
div.wrapper {
  display: grid;
  grid-template-rows: 1fr ;
  /* margin: 1rem; */
}


}